* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ",
    Meiryo, "MS PGothic", sans-serif;
  background-image: url(https://w.wallhaven.cc/full/6o/wallhaven-6or2j7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.container {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.timer {
  display: flex;
  margin-top: 10rem;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 1rem;
  gap: 8rem;
}
.linkContainer {
  display: flex;
  gap: 10vw;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.video-player {
  display: flex;
  height: 42vw;
  width: 72vw;
}
.playerAndLink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.link img {
  max-width: 4vw;
  height: 4vw;
  margin: 0 1rem;
  color: #fff;
  filter: grayscale() contrast(0.5);
}
.link img:hover {
  animation: colorFill 0.2s both;
}
.days,
.hours,
.minutes,
.seconds {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 1rem;
}
.timer span:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 400;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.chloe {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  position: absolute;
  left: 0;
  padding: 0 1rem;
  writing-mode: vertical-rl;
  cursor: default;
}
.chloe span {
  font-size: 3.5rem;
  font-weight: 600;
  background: linear-gradient(100deg, #af0f71, #5b021d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
@keyframes colorFill {
  0% {
    filter: grayscale() contrast(0.5);
  }
  100% {
    filter: none;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
